<p>Greetings!</p>

<p><a href="http://www.idreamofsteel.com/accounts/profile/view/{{ inviter }}/">{{ inviter }}</a> has sent you an invitation to join <a href="http://www.idreamofsteel.com/share/team/view/{{ teamname }}/">{{ teamname }}</a> on <a href="http://www.idreamofsteel.com">I Dream of Steel</a>.</p>

<p>Please <a href="http://www.idreamofsteel.com/accounts/login/">log on</a> to confirm your invitation.</p>

<p>If you do not already have an account, you can also create one form that same page. Note that you must use this email in order to join the team without having to re-confirm membership. You may change your email settings after registering.</p>

<p><span style="font-size:80%">(Please pardon the sketchy-looking email.)</span></p>