{% extends "base_template.html" %}

{% block section %}

{% if validlink %}

	<h5 class="titleNoMargin">Enter New Password</h5>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form action="" method="post">{% csrf_token %}
		<div id="passForm">
			<table class="passChangeForm">
				<tbody>
					<tr>
						<td><b>New password:</b></td>
						<td>{{ form.new_password1 }}</td>
						<td>
							{% if form.new_password1.errors %}
								<div class="alert alert-danger">
									{% for error in form.new_password1.errors %}
										<b>{{ error }}</b><br />
									{% endfor %}
								</div>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td><b>Password (again):</b></td>
						<td>{{ form.new_password2 }}</td>
						<td>
							{% if form.new_password2.errors %}
								<div class="alert alert-danger">
									{% for error in form.new_password2.errors %}
										<b>{{ error }}</b><br />
									{% endfor %}
								</div>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td colspan=3><button type="submit" class="btn btn-small btn-primary">Change my password</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>

{% else %}

	<h5 class="titleNoMargin">Password Reset Unsuccessful</h5>

	<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}