{% extends "base_template.html" %}

{% block section %}

<form action="" method="post">{% csrf_token %}

	<h5 class="titleNoMargin">Password Reset</h5>
	
	<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

	<div id="passForm">
		<table class="passChangeForm">
			<tbody>
				<tr>
					<td><b>Email:</b></td>
					<td>{{ form.email }}</td>
					<td>
						{% if form.email.errors %}
							<div class="alert alert-danger">
								{% for error in form.email.errors %}
									<b>{{ error }}</b><br />
								{% endfor %}
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan=3><button type="submit" class="btn btn-small btn-primary">Reset my password</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</form>

{% endblock %}