<table class="table table-condensed">
    <tr>
        <td class="lfhCode">
            [b]Bold[/b]<br />
            [i]Italics[/i]<br />
            [u]Underline[/u]<br />
            [s]Strikethrough[/s]<br />
            [sup]Superscript[/sup]<br />
            [sub]Subscript[/sub]<br />
            [color=#0000FF]Colored Text[/color]
        </td>
        <td class="lfhOutput">
            <b>Bold</b><br />
            <i>Italics</i><br />
            <span style="text-decoration: underline">Underline</span><br />
            <del>Strikethrough</del><br />
            <sup>Super</sup>script<br />
            <sub>Sub</sub>script<br />
            <span style="color: #0000FF">Colored Text</span>
        </td>
    </tr>
    <tr>
        <td class="lfhCode">[hr]</td>
        <td class="lfhOutput"><hr /></td>
    </tr>
    <tr>
        <td class="lfhCode">
            [ul]<br />
                [li]Bullet list[/li]<br />
                [li]Another point[/li]<br />
            [/ul]
        </td>
        <td class="lfhOutput">
            <ul>
                <li>Bullet list</li>
                <li>Another point</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="lfhCode">
            [ol]<br />
                [li]Numbered list[/li]<br />
                [li]Another point[/li]<br />
            [/ol]
        </td>
        <td class="lfhOutput">
            <ol>
                <li>Numbered list</li>
                <li>Another point</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="lfhCode">[quote]Quote[/quote]</td>
        <td class="lfhOutput"><blockquote>Quote</blockquote></td>
    </tr>
    <tr>
        <td class="lfhCode">
            [left]Align Left[/left]<br />
            [center]Align Center[/center]<br />
            [right]Align Right[/right]<br />
            [justify]Justify[/justify]
        </td>
        <td class="lfhOutput">
            <div style="text-align: left">Align Left</div>
            <div style="text-align: center">Align Center</div>
            <div style="text-align: right">Align Right</div>
            <div style="text-align: justify">Justify</div>
        </td>
    </tr>
    <tr>
        <td class="lfhCode">
            [size=1]Smaller[/size]<br />
            [size=2]Small[/size]<br />
            [size=3]Normal[/size]<br />
            [size=4]Big[/size]<br />
            [size=5]Bigger[/size]<br />
            [size=6]Even Bigger[/size]<br />
            [size=7]Biggest[/size]<br />
        </td>
        <td class="lfhOutput">
            <span style="font-size: 60%">Smaller</span><br />
            <span style="font-size: 85%">Small</span><br />
            <span style="font-size: 100%">Normal</span><br />
            <span style="font-size: 120%">Big</span><br />
            <span style="font-size: 150%">Bigger</span><br />
            <span style="font-size: 200%">Even Bigger</span><br />
            <span style="font-size: 300%">Biggest</span><br />
        </td>
    </tr>
    <tr>
        <td class="lfhCode">[url=http://bit.ly]bitly[/url]</td>
        <td class="lfhOutput"><a href=http://bit.ly>bitly</a></td>
    </tr>
    <tr>
        <td class="lfhCode">[img]http://bit.ly/MMiuhK[/img]</td>
        <td class="lfhOutput"><img src="http://bit.ly/MMiuhK" /></td>
    </tr>
    <tr>
        <td class="lfhCode">
            [youtube]nOWcrqOSevs[/youtube]<br />
            <br />
            <a href="http://www.youtube.com/watch?v=nOWcrqOSevs">http://www.youtube.com/watch?v=<b>nOWcrqOSevs</b></a><br />
            Copy the bolded bit.
        </td>
        <td class="lfhOutput"><iframe width="224" height="126" src="http://www.youtube.com/embed/nOWcrqOSevs?rel=0" frameborder="0" allowfullscreen></iframe></td>
    </tr>
</table>