<table class="blogPager"><tbody><tr><td>
    {% if pagedSession.has_previous %}
        <a href='{{ pagerPath }}/1/'><button class="btn btn-mini float_l"><i class="icon-step-backward"></i> Newest</button></a>
        <a href='{{ pagerPath }}/{{ pagedSession.previous_page_number }}/'><button class="btn btn-mini float_l pagerSpacer"><i class="icon-caret-left"></i> Newer</button></a>
    {% endif %}

    {% if pagedSession.has_next %}
        <a href='{{ pagerPath }}/{{ lastpage }}/'><button class="btn btn-mini float_r pagerSpacer">Oldest <i class="icon-step-forward"></i></button></a>
        <a href='{{ pagerPath }}/{{ pagedSession.next_page_number }}/'><button class="btn btn-mini float_r">Older <i class="icon-caret-right"></i></button></a>
    {% endif %}
</td></tr></tbody></table>