{% extends "blog/blog_template.html" %}

{% block sectionTitle %}
    <div class="blogOwnerInfo">
        <table><tr><td>
            <h1><a href={% url share.views.blogUser username=thisUser.username page=1 %}>{{ thisUser.username }}</a></h1>
            <h5><a href='/share/feed/rss/user/{{ thisUser.username }}/'><i class="icon-rss"></i></a></h5>
        </td></tr></table>
    </div>
{% endblock %}

{% block blogSubtitle %}All {{ liftName }} Sessions{% endblock %}

{% block blogSidebar %}
    {% include "blog/sidebar_profileTable.html" %}
    {% include "blog/sidebar_repList.html" %}
    {% include "blog/sidebar_comments.html" %}
{% endblock %}