<div class="row">
    <div class = "span4">
        <div class="sidebarHeader">
            <h5><a href={% url userstats.views.viewProfile username=thisProfile.user.username %}>Profile</a></h5>
            <span class="sidebarHeaderControls"><a href={% url share.views.blogUser username=thisAccount.username page=1 %} class="tooltip-left" title="{{ thisAccount.username }}'s Log"><i class="icon-book icon-large"></i></a></span>
        </div>
        
        <div class="sidebarProfileTable">
            {% include "registration/profileViewTable.html" %}
        </div>
    </div>
</div>